@import '../../../variables';

.Card {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 50px;
    padding: 25px;

    .left-block {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 0 20px;

        .left-block__title {
            margin-top: 40px;
            font-size: 35px;
            white-space: nowrap;
        }

        .left-block__logo {
            max-width: 100px;
        }
    }

    .right-block {
        display: flex;
        flex-direction: column;
        white-space: pre-line;
        flex: 0 1 calc(68% - 10px);
        margin: 20px 0;
        margin-right: 10px;

        .right-block__title {
            font-size: 28px;
        }
    }

    .title-text {
        text-align: start;
    }

    @media only screen and (min-width : $mobile-min) and (max-width : $mobile-max) {
        margin-top: 30px;
        padding: 20px;
        text-align: center;

        .title-text {
            text-align: center;
        }

        .left-block {    
            .left-block__title {
                margin-top: 15px;
            }
        }

        .right-block {
            margin-top: 40px;
            flex: 0 1 calc(90%);

            .right-block__title {
                font-size: 25px;
            }
        }
    }
}