@import '../../variables';

.Resume {
    margin-top: 150px;

    .Resume__about {
        margin-top: 50px;
        text-align: center;
    }

    @media only screen and (min-width : $mobile-min) and (max-width : $mobile-max) {
        margin-top: 80px;

        .Resume__about {
            margin-top: 30px;
        }
    }
}