.About {
    margin-top: 600px;
    padding: 0 120px;

    .About__bio {
        display: flex;
        align-items: flex-start;
        margin-top: 100px;

        .About__bio-photo-block {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            margin-right: 50px;
            padding: 30px;
            border-radius: 52px;
            font-style: normal;
            font-weight: normal;
            font-size: 25px;
            line-height: 40px;
    
            .photo {
                background-color: #fff;
                max-width: 240px;
                max-height: 240px;
                border-radius: 50%;
                margin-top: 20px;
            }
    
            .About__bio-photo-block__bottom {
                white-space: nowrap;
                margin-top: 10px;
    
                .name {
                    font-family: 'Century Gothic';
                }
        
                .birthday {
                    font-family: 'Century Gothic';
                }
            }
        }
    
        .minor-text {
            font-size: 33px;
            line-height: 150%;
            /* or 54px */
        }
    }
}