@import '../../variables';

.Contacts {
    margin: 60px 0;
    padding-bottom: 60px;

    .Contacts-block {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 50px;

        .Contacts__icon {
            max-width: 88px;
            margin: 10px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            cursor: pointer;
            transition: all .2s ease-in-out;
        }

        .Contacts__icon:hover {
            transform: scale(1.1); 
        }

        .Contacts__text {
            margin-left: 10px;
            padding-bottom: 10px;
        }

        .Contacts-block__left-contact {
            display: flex;
            align-items: center;
        }

        .Contacts-block__right {
            max-width: 216px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
    }

    @media only screen and (min-width : $mobile-min) and (max-width : $mobile-max) {
        .Contacts-block {
            justify-content: center;
        }

        .Contacts__text {
            display: none;
        }
    }
}
